@colorDefault: #0a328c;
@colorActive: #f8c901;
@colorFont: #666666;

.contexthelp {

  cursor: help;
  float: left;
  margin: 4px 0 0 8px;
  position: relative;
  z-index: 0;

  span {
    background: @colorDefault;
    color: white;
    display: block;
    font-weight: bold;
    padding: 2px 0;
    position: relative;
    text-align: center;
    width: 19px;
  }

  div {
    background-color: @colorActive;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    color: @colorFont;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 18px;
    position: absolute;
    right: 0;
    top: 19px;
    width: 200px;
    z-index: 1;
  }

}

.contexthelp:hover {
  z-index: 1;

  span {
    background: @colorActive;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

    &:after {
      border-bottom: 3px solid @colorActive;
      height: 3px;
      width: 19px;
      left: 0;
      top: 16px;
      position: absolute;
      content: " ";
    }

    z-index: 2;
  }

  div {
    display: block !important;
  }
}
